{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="alert alert-danger alert-dismissible">
                <h4><i class="icon fa fa-ban"></i></h4>
                {% trans %}You do not have permission to access this page!{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
