<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <img src="img/logo.png" alt="Биопрограма" style="width: auto; height: 40px;">
    </a>

    {% include ':theme/common:nav.html.twig' %}

</header>
